In [1]:
print("hello")

hello

In [2]:
a = 10

In [3]:
print(a)

10

In [5]:
b = 20.5

In [6]:
print(b)

20.5

In [7]:
c = 'hello'

In [8]:
print(c)

hello

In [9]:
my_list2 = [1,2.4,"hello",True,"abc"]

In [10]:
print(my_list2)

[1, 2.4, 'hello', True, 'abc']

In [12]:
my_list2[1]

2.4

In [15]:
my_list2[2] = 'hi'

In [16]:
print(my_list2)

[1, 2.4, 'hi', True, 'abc']

In [17]:
my_list2.append(100)

In [18]:
print(my_list2)

[1, 2.4, 'hi', True, 'abc', 100]

In [36]:
my_list1 = [1,2,3,4,5,6]

In [37]:
print(my_list1)

[1, 2, 3, 4, 5, 6]

In [38]:
my_list2 = [6,7,8,9,10]

In [39]:
print(my_list2)

[6, 7, 8, 9, 10]

In [26]:
my_list1.append(7)

In [40]:
my_list1

[1, 2, 3, 4, 5, 6]

In [29]:
my_list1.append(my_list2)

In [30]:
my_list1

[1, 2, 3, 4, 5, 6, 7, [6, 7, 8, 9, 10]]

In [32]:
my_list1[7][3]

9

In [41]:
my_list1.extend(my_list2)

In [42]:
print(my_list1)

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10]

In [44]:
#Nameing conventions
#my_list#allowed
##myList#allowed
#MyList#not allowed
#myclass#allowed
#MyClass#allowed for class,object(In python its not mandatory to have this kind of syntax, but in Scala and Java it is mandatory to have this kind of syntax)

### tuple

In [47]:
my_tuple = (1,2,3,4,5)

In [48]:
print(my_tuple)

(1, 2, 3, 4, 5)

In [49]:
print(type(my_tuple))

<class 'tuple'>

In [3]:
my_tuple_2 = ("hello","hi",1,2,4,100)

In [4]:
my_tuple_2[0]

'hello'

In [5]:
my_tuple_2[0][1]

'e'

In [6]:
my_tuple_2[1:5]

('hi', 1, 2, 4)

In [7]:
#Assignment-1:
#Examples for these two functions.
#my_tuple_2.count
#my_tuple_2.index

In [8]:
my_tuple_2

('hello', 'hi', 1, 2, 4, 100)

In [9]:
my_tuple_2[2]

1

In [10]:
my_list = ['hello', 'hi', 1, 2, 4, 100]

In [11]:
my_list

['hello', 'hi', 1, 2, 4, 100]

In [12]:
my_list[2] = 10

In [13]:
my_list

['hello', 'hi', 10, 2, 4, 100]

In [14]:
my_tuple_2

('hello', 'hi', 1, 2, 4, 100)

In [16]:
my_tuple_2[2] = 10
#We cannot change in tuple using the above syntax.
#This shows an error in the syntax.
#List is mutable.
#Tuple is immutable.
#List is mostly used.
#Tuple is rarely used.
#Differences between tuple and list.
#Create Tuple from List and vice versa.
#Types of functions in Python.

TypeError: 'tuple' object does not support item assignment

In [17]:
del my_tuple_2

In [18]:
my_tuple_2

NameError: name 'my_tuple_2' is not defined

In [30]:
my_list = [1,2,3,1,2,3]

In [23]:
print(my_list)
#List will allow the duplicates.

[1, 2, 3, 1, 2, 3]

In [25]:
my_tuple = (1,2,3,1,2,3)

In [26]:
print(my_tuple)
#Tuple will allow the duplicates.

(1, 2, 3, 1, 2, 3)

In [27]:
my_tuple[0]

1

### Set

In [19]:
my_set = {1,2,3,1,2,3}

In [20]:
print(my_set)
#Set will not allow the duplicates.

{1, 2, 3}

In [29]:
my_set[0]
#Index is not allowed in sets.

TypeError: 'set' object does not support indexing

In [31]:
#When you have millions of sets then you can use pass through set method.

In [36]:
#Passing a list into a set.

In [32]:
my_list = [1,2,3,1,2,3]

In [33]:
my_list

[1, 2, 3, 1, 2, 3]

In [34]:
my_set_list = set(my_list)

In [37]:
my_set_list #It will remove the duplicates.

{1, 2, 3}

In [38]:
my_list2 = list (my_set_list) #Changing set to list

In [40]:
my_list2

[1, 2, 3]

In [42]:
#List-[]
#Tuple-()
#set-{}